<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="https://devopsbug.com/media/projects/openlingua/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://devopsbug.com/media/projects/openlingua/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://devopsbug.com/media/projects/openlingua/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://devopsbug.com/media/projects/openlingua/images/favicon/site.webmanifest">  
    <link rel="stylesheet" href="/css/category.css">
    <title>Children Language Game</title>
</head>
<body>
    <header>
        <div class="flag-container">
            <img id="languageFlag" src="" alt="Language flag" class="flag-image">
        </div>
        <h1>Select a Category</h1>
    </header>
    <main>
        <div id="categorySelection" class="category-container"></div>
    </main>
    <script src="/js/category.js"></script>
</body>
</html>
