<div id="logo-banner">
    <img id="logo" src="/static/logo_openlingua_2000_2000.png">
    <div id="logo-banner-text">
        <h1>Language Game</h1>
        by <a href="https://devopsbug.com">DevOpsBug</a>    
    </div>
</div>

<div id="content">
    <pre id="user-status"></pre>
    <button id="login-btn" onclick="window.location.href='/oauth2/sign_in'">Login</button>
    <button id="logout-btn" onclick="window.location.href='/oauth2/sign_out'">Logout</button>
    <a id="private-area" href="/private/private.html">private</a>
</div>